<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Videograph | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/blah.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/discover">Discover</a></li>
                                <li><a href="/features">Features</a></li>
                                <li><a href="/suggest">Suggest</a></li>

                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Our Sevices</h2>
                        <div class="breadcrumb__links">
                            <a href="#">Home</a>
                            <span>Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Services Section Begin -->
    <section class="services-page spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-2.png" alt="">
                        </div>
                        <h4>Community Driven</h4>
                            <p>Our entire website is completely driven by our community, and their submissions. We do however make sure that all submissions are moderated, to ensure quality of life.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-1.png" alt="">
                        </div>
                        <h4>Relevancy</h4>
                            <p>We make sure to recommend you music that you might actually enjoy, whilst supporting smaller creators. This is very important to our website, because we make sure that we are benefiting the creator, aswell as the user of our app.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-5.png" alt="">
                        </div>
                        <h4>Ease of Access</h4>
                        <p>Our program maintains a very easy user interface to suggest, and play songs. By using the spotify API, we can play music directly on the browser, allowing users to not have to sort through many programs just to see what was recommended to them.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-3.png" alt="">
                        </div>
                        <h4>Spotify API</h4>
                            <p>We directly connect to the spotify api to integrate directly to your spotify account, making the entire process as simple as possible.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-4.png" alt="">
                        </div>
                        <h4>Open Source</h4>
                            <p>Our entire project is open source, allowing for other people to add other functionality, and to help maintain our project. This allows us to directly interact with our users, get bug reports, and new features directly with our project.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="services__item">
                        <div class="services__item__icon">
                            <img src="img/icons/si-6.png" alt="">
                        </div>
                        <h4>Mutual Benefit</h4>
                        <p>This website was designed for both sides to benefit. While the user gets new music to listen to, smaller artists get their name shown to the world, thus gaining more attention. We do not gain anything from this website, and all of our source code can be viewed at: https://github.com/superstarcoder/Spotlight </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto sp__callto">
        <div class="container">
            <div class="callto__services spad set-bg" data-setbg="img/calltos-bg.jpg">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-10 text-center">
                        <div class="callto__text">
                            <h2>Find some new, and original music from creators that you've never even heard of!</h2>
                            <p>By using Spotlight, you can help small artists and creators get the recognition they deserve.</p>
                            <a href="#">Start your stories</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

{#    <!-- Logo Begin -->#}
{#    <div class="logo spad">#}
{#        <div class="container">#}
{#            <div class="logo__carousel owl-carousel">#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-1.png" alt=""></a>#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-2.png" alt=""></a>#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-3.png" alt=""></a>#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-4.png" alt=""></a>#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-5.png" alt=""></a>#}
{#                <a href="#" class="logo__item"><img src="img/logo/logo-6.png" alt=""></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Logo End -->#}

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
{#            <div class="row">#}
{#                <div class="col-lg-6 col-md-6">#}
{#                    <div class="footer__top__logo">#}
{#                        <a href="#"><img src="img/blah.png" alt=""></a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-6 col-md-6">#}
{#                    <div class="footer__top__social">#}
{#                        <a href="#"><i class="fa fa-facebook"></i></a>#}
{#                        <a href="#"><i class="fa fa-twitter"></i></a>#}
{#                        <a href="#"><i class="fa fa-dribbble"></i></a>#}
{#                        <a href="#"><i class="fa fa-instagram"></i></a>#}
{#                        <a href="#"><i class="fa fa-youtube-play"></i></a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="footer__option">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer__option__item">
                        <h5>About us</h5>
                        <p>Formed in 2020 by Dhanish, Niranjan, Charan, and Leo, Spotlight is an open source website made to recommend people music by small artists that would otherwise never have the chance to grow. </p>
                        <a href="#" class="read__more">Read more <span class="arrow_right"></span></a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Who we are</h5>
                        <ul>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Carrers</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Locations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div class="footer__option__item">
                        <h5>Our work</h5>
                        <ul>
                            <li><a href="#">Feature</a></li>
                            <li><a href="#">Latest</a></li>
                            <li><a href="#">Browse Archive</a></li>
                            <li><a href="#">Video for web</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
{#                    <div class="footer__option__item">#}
{#                        <h5>Newsletter</h5>#}
{#                        <p>Videoprah is an award-winning, full-service production company specializing.</p>#}
{#                        <form action="#">#}
{#                            <input type="text" placeholder="Email">#}
{#                            <button type="submit"><i class="fa fa-send"></i></button>#}
{#                        </form>#}
{#                    </div>#}
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    <p class="footer__copyright__text">Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                            aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    </p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>